.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 111;
    background-color: rgba(0,0,0,0.5);
}

.modal-card{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.modal-card h2{
    font-size: 20px;
    font-weight: 500;
}

.button-group{
    display: flex;
    justify-content: space-around;
}